.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 30px;
}

.breadcrumb a {
    text-decoration: none;
    color: #6b9bd2;
}

.product-detail {
    padding: 40px;
}

.detail-wrapper {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.detail-image {
    width: 420px;
    flex-shrink: 0;
}

.detail-image img {
    width: 100%;
    border-radius: 10px;
}

.detail-wrapper label {
    display: block;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #4B4B4B;
    margin: 20px 0 6px;
}

.detail-wrapper input[type="text"] {
    width: 100%;
    padding: 11px 10px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #E0DFDE;
    background-color: #FFFFFF;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
}

.form__season-inputs {
    display: flex;
    gap: 20px;
}

.form__season-inputs label {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-right: 20px;
}

.form-detail {
    width: 100%;
}

.detail-wrapper textarea {
    width: 100%;
    max-width: 800px;
    padding: 5px 1px 70px 1px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #E0DFDE;
    background-color: #FFFFFF;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
    resize: none;
}

.error {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 4px;
}

.btn-area {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.btn {
    display: inline-block;
    min-width: 200px;
    padding: 13px 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.back_btn {
    background: #E0DFDE;
    color: #4B4B4B;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.save_btn {
    background: #F5C800;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Meiryo", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #4B4B4B;
    border: none;
}

.delete-btn {
    margin-left: 20px;
    color: #e74c3c;
}